extends layout

block content
  form
    h2 스터디 인원 선택   
      .addBox
        label(for='check_all')
          i.fonti.um-check.um-1x
            span.allSelect 전체선택        
        input#check_all.imgToggle(type='checkbox')
      
        .select_subject
          #users
          for user in users
            .items
              label(for=user.uName)
                .item(id=user.uName + "Box")
                  img.aImg(src='../img/' + user.uImg)        
                  span.aName #{user.uName}
              input.imgToggle(type='checkbox', id=user.uName, name='chklist', value=user.uName, onclick='cbClick(this.id);')

        input#addBtn(type='button', value='생성')
        