extends ../layout

block content
  .container
    .panel
      .panel-body
        if messages.success
          .alert.alert-success(role='alert')
            for success in messages.success
              div= success.msg
        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg

        form.form-horizontal(method='POST', action='/account?_method=PUT')
          legend 내 정보
          .form-group
            label.col-sm-3(for='uName') 이름
            .col-sm-7
              input.form-control.pName(type='text', name='uName', id='uName', value=user.uName)
          .form-group
            label.col-sm-3(for='uTel') 전화번호
            .col-sm-7
              input.form-control.pTel(type='tel', name='uTel', id='uTel', value=user.uTel)
          .form-group
            label.col-sm-3 프로필이미지
            .col-sm-4
              img(src='../img/' + user.uImg, class='profile', width='100', height='100')
          
          .chartBox
            span.text 출석률
            .chart(data-percent=check)
              span.percent #{check}
                i.fonti.um-percent
                
            span.text 지각률
            .chart(data-percent=late)
              span.percent #{late}
                i.fonti.um-percent
            
            span.text 결석률
            .chart(data-percent=fail)
              span.percent #{fail}
                i.fonti.um-percent
                
          .form-group
            .col-sm-offset-3.col-sm-4
              button.btn.edit(type='submit') 내 정보 변경

         
        form.form-horizontal(method='POST', action='/account?_method=DELETE')
            button.btn.del(type='submit') 계정 삭제
